<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="HelloWorldRestletSpring" version="2.5">

	<display-name>HelloWorldRestletSpring</display-name>

	<!-- Restlet adapter -->
	<servlet>
		<servlet-name>rservlet</servlet-name>
		<servlet-class>
			com.noelios.restlet.ext.spring.RestletFrameworkServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Catch all requests -->
	<servlet-mapping>
		<servlet-name>rservlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>