<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="root" class="org.restlet.ext.spring.SpringRouter">
		<property name="attachments">
			<map>
				<entry key="/base">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="mainResource" />
					</bean>
				</entry>
				<entry key="">
					<bean class="org.restlet.ext.spring.SpringFinder">
						<lookup-method name="createResource"
							bean="friendsResource" />
					</bean>
				</entry>
				
			</map>
		</property>
	</bean>

	<bean id="mainResource"
		class="project.FacebookMainResource" scope="prototype" />
	
	<bean id="friendsResource"
		class="project.FriendsResource" scope="prototype" />

</beans>
